extends layout

block content
  h1= title
  p Welcome to #{title}
  ul 
  li https://respected-fourth-bar.glitch.me/doi?issn=2376-0605
  li https://respected-fourth-bar.glitch.me/doi?doi=10.1016/j.patter.2020.100090
